.white-nav{
    background-color: white;
}
form{
    padding-top: 1.5em;
}
#passWrong{
    color:red;
    font-size: 16px;
}
li.list-group-item:hover{
    background-color: #eeeeee;
}
a.button{
    color: white;
}
a.black{
    color: black;
}

ul.right-menu{
    list-style-type: none;
}
 a{
    color: black;
}
.wrapper{
    display: flex;
    flex-direction: row;
}
.content{
    flex: 3;
    padding: 2em;
}
.right{
    flex: 1;
    padding: 2em;
}
